@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slanted-edge {
  --p: 35px; /* control the shape (can be percentage) */
  aspect-ratio: 1;
  clip-path: polygon(0 var(--p),100% 0,100% 100%,0 100%);
  border-top-left-radius: 5rem;
}

.shape1 {
  clip-path: polygon(0 0, 60% 0, 35% 100%, 0 100%);
}

.shape2 {
  clip-path: polygon(60% 0, 70% 0, 50% 50%, 40% 50%);
}

.shape3 {
  clip-path: polygon(70% 0, 100% 0, 80% 50%, 50% 50%);
}

.shape4 {
  clip-path: polygon(40% 50%, 50% 50%, 70% 100%, 60% 100%);
}

.shape5 {
  clip-path: polygon(50% 50%, 80% 50%, 100% 100%, 70% 100%);
}

.shape6 {
  /* clip-path: polygon(80% 50%, 100% 0, 100% 100%, 100% 100%); */
   clip-path:polygon(100% 0,calc(100% - var(--s)) 0,0 50%,calc(100% - var(--s)) 100%,100% 100%,var(--s) 50%);
}

.shape7 {
  /* clip-path: polygon(0 100%, 35% 100%, 50% 50%, 40% 50%); */
}
